<button mat-icon-button style="float: right; margin: 5px" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content class="dialog-content">
  <header><h1>Editar usuario</h1></header>
  <mat-card-title class="title">
    <mat-icon>person</mat-icon>
    {{this.user.username}}</mat-card-title>

  <br>
  <form class="my-form d-flex flex-column"
        autocomplete="off"
        [formGroup]="miFormulario"
        (ngSubmit)="editar()">
    <h3>Información del perfil</h3>
    <mat-form-field appearance="fill" class="mb-3">
      <input matInput formControlName="email" placeholder="{{this.user.email}}">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field id="contraseñaField" appearance="fill" class="mb-4">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput formControlName="password" [type]="hide1 ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" [(ngModel)]="rolSeleccionado">
        <mat-option value="ADMIN">ADMIN</mat-option>
        <mat-option value="USER">USER</mat-option>
      </mat-select>
    </mat-form-field>
  </form>


</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="editar()">
    <mat-icon>save</mat-icon>
    Guardar
  </button>
  <button mat-raised-button color="warn" (click)="onNoClick()">
    <mat-icon>cancel</mat-icon>
    Cancelar
  </button>
</div>
