<div class="container">
  <mat-tab-group>
    <mat-tab label="Reservas">
      <mat-card class="container">
        <mat-card-header>
          <mat-card-title class="title">Búsqueda de reservas</mat-card-title>
          <mat-card-subtitle class="subtitle">Selecciona una actividad y una fecha</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Actividad</mat-label>
            <mat-select [(ngModel)]="deporteElegido">
              <mat-option *ngFor="let deporte of deportes" [value]="deporte">{{deporte}}</mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <mat-form-field>
            <mat-label>Día</mat-label>
            <input matInput [matDatepicker]="picker" [min]="fechaMinima" [max]="fechaMaxima"
                   placeholder="Selecciona una fecha" [(ngModel)]="fechaElegida">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <br>

          <div class="text-center">
            <button mat-fab extended color="primary" (click)="buscar()">
              <mat-icon>search</mat-icon>
              Buscar
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Usuarios"> Content 2 </mat-tab>
    <mat-tab label="Estadísticas"> Content 3 </mat-tab>
  </mat-tab-group>



</div>
