<div class="container">
  <div class="w-100">
    <h1 class="text-center">Registro</h1>
  </div>
  <mat-card-content>
    <form class="my-form d-flex flex-column align-items-center"
          autocomplete="off"
          [formGroup]="miFormulario"
          (ngSubmit)="signup()">
      <mat-form-field appearance="fill" class="mb-3">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="correo@ejemplo.com" [formControl]="emailControl" required>
        <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mb-3">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" [formControl]="usernameControl" required>
        <mat-error *ngIf="usernameControl.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field id="contraseñaField" appearance="fill" class="mb-4">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password1" [type]="hide1 ? 'password' : 'text'" [formControl]="password1Control" required>
        <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password1Control.invalid">{{getPassword1ErrorMessage()}}</mat-error>
        <mat-hint align="start">Al menos 8 caracteres, incluyendo 1 carácter especial.</mat-hint>
      </mat-form-field>
      <mat-form-field id="confirmarContraseñaField" appearance="fill" class="mb-3">
        <mat-label>Confirma la contraseña</mat-label>
        <input matInput formControlName="password2" [type]="hide2 ? 'password' : 'text'" [formControl]="password2Control" required>
        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password2'"
                [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password2Control.invalid">{{getPassword2ErrorMessage()}}</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="mb-3">Regístrate</button>
    </form>
    <hr class="mx-auto">
    <p class="text-center">¿Ya tienes cuenta? <a routerLink="/auth/login">Inicia sesión.</a></p>
  </mat-card-content>
</div>
