h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
}

mat-form-field {
  width: 40%;
}

@media (max-width: 1200px) {
  mat-form-field {
    width: 90%;
  }
}

hr {
  width: 40%;
}

@media (max-width: 1200px) {
  hr {
    width: 90%;
  }
}

@media (max-width: 420px) {
  #confirmarContraseñaField {
    margin-top: 0.3rem;
  }
}

@media (max-width: 780px) {
  #contraseñaField {
    margin-top: 0.6rem;
  }
}
